<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Vista general de reservas</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Check Out</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i></button>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-3" *ngFor="let reserva of reservas; let e = index;">
                <!-- small card -->
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h3>{{reserva.habitacion.puerta}}</h3>
                      <p>{{reserva.cliente.nombre}}</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-bed"></i>
                    </div>
                    <a [routerLink]="['/pages/proceso-reservas/checkout', reserva.id]" class="brand-link" routerLinkActive="active" class="small-box-footer">
                      Check In <i class="fas fa-arrow-circle-right"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
</section>
