<!-- modal -->
<ng-template #content let-modal class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="!habitacion.id else elseBlockEdit">Crear Categoría</h4>
      <ng-template #elseBlockEdit>
        <h4 class="modal-title">Editar Categoría</h4>
      </ng-template>
      <button type="button" class="close" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" #categoriaForm="ngForm">

        <div class="card-body">
          <div class="form-group">
            <label for="inputNombre">Nombre Puerta</label>
            <input type="puerta" class="form-control" [(ngModel)]="habitacion.puerta" name="puerta" #nombre="ngModel"
              placeholder="puerta">
          </div>
          <div class="form-group">
            <label for="pisos">Pisos</label>
            <select [compareWith]="compararPiso" class="form-control" [(ngModel)]="habitacion.piso" name="piso">
              <option [ngValue]="undefined">Selecionar Piso</option>
              <option *ngFor="let piso of pisos" [ngValue]="piso">{{piso.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pisos">Categoria</label>
            <select [compareWith]="compararCategoria" class="form-control" [(ngModel)]="habitacion.categoria" name="categoria">
              <option [ngValue]="undefined">Selecionar Categoría</option>
              <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="inputNombre">Detalles</label>
            <input type="detalles" class="form-control" [(ngModel)]="habitacion.detalles" name="detalles"
              #nombre="ngModel" placeholder="detalles">
          </div>
          <div class="form-group">
            <label for="pisos">Estado</label>
            <select class="form-control" [(ngModel)]="habitacion.estado" name="estado">
              <option [ngValue]="undefined">Selecionar Estado</option>
              <option *ngFor="let estado of estados" [ngValue]="estado.id">{{estado.nombre}}</option>
            </select>
          </div>
        </div>
        <!-- /.card-body -->
      </form>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" (click)="cerrar()">Cerrar</button>
      <button role="button" (click)='crear()' *ngIf="!habitacion.id else elseBlock"
        class="btn btn-primary">Guardar</button>

      <ng-template #elseBlock>
        <button role="button" (click)='update()' class="btn btn-primary">Editar</button>
      </ng-template>
    </div>
  </div>
</ng-template>
<!-- /.modal -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Configuración de Habitaciones</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row" id="actualizar">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Habitaciones

              <a class="btn btn-success btn-sm" (click)="open(content, 0)" [routerLink]="">
                <i class="fas fa-plus-circle"></i>
                Añadir
              </a>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Puerta</th>
                  <th>Pisos</th>
                  <th>Categoria</th>
                  <th>Detalles</th>
                  <th>Estado</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let haitacion of habitaciones; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{haitacion.puerta}}</td>
                  <td>{{haitacion.piso.nombre}}</td>
                  <td>{{haitacion.categoria.nombre}}</td>
                  <td>{{haitacion.detalles}}</td>
                  <td *ngIf="haitacion.estado == 1"><span class="badge badge-success">Disponible</span></td>
                  <td *ngIf="haitacion.estado == 2"><span class="badge badge-warning">Mantenimiento</span></td>
                  <td *ngIf="haitacion.estado == 3"><span class="badge badge-info">Limpieza</span></td>
                  <td *ngIf="haitacion.estado == 4"><span class="badge badge-danger">Ocupado</span></td>
                  <td class="project-actions text-right">
                    <a class="btn btn-info btn-sm" (click)="open(content, haitacion.id)" [routerLink]="">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" (click)='eliminar(haitacion)' [routerLink]="">
                      <i class="fas fa-trash-alt">
                      </i>
                      Eliminar
                    </a>
                  </td>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
