.container-login100
  width: 100%
  min-height: 100vh
  display: -webkit-box
  display: -webkit-flex
  display: -moz-box
  display: -ms-flexbox
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  padding: 15px

  background-repeat: no-repeat
  background-position: center
  background-size: cover
  position: relative
  z-index: 1

.container-login100::before
  content: ""
  display: block
  position: absolute
  z-index: -1
  width: 100%
  height: 100%
  top: 0
  left: 0
  background-color: rgba(0,0,0,0.65)

.wrap-login100
  width: 390px
  border-radius: 10px
  overflow: hidden

  background: transparent

.login100-form-title
  font-family: Ubuntu-Bold
  font-size: 28px
  color: #fff
  line-height: 1.2
  text-align: center
  text-transform: uppercase

  display: block
