<div class="text-center" *ngIf="isLogged; else loggedOut">
  <base href="/">
</div>

<ng-template #loggedOut>

  <body class="login-page container-login100" style="background-image: url('../../../assets/bg-01.jpg');">
    <div class="login-box">
      <div class="login-logo">
        <a class=" login100-form-title" href="../../index2.html"><b>Mage</b>Hotel</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Iniciar su sesión</p>

          <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>

            <div class="input-group mb-4">
              <input type="text" name="nombreUsuario" id="nombreUsuario" class="form-control" placeholder="Usuario"
                [(ngModel)]="nombreUsuario" required>
              <div class="input-group-append">
                <div class="input-group-text">
                </div>
              </div>
            </div>

            <div class="input-group mb-4">
              <input type="password" name="password" id="password" class="form-control" placeholder="Contraseña"
                [(ngModel)]="password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
              </div>
              <!-- /.col -->
              <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Conectar</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
            <p class="mb-2 text-center">
              <a href="forgot-password.html">¿No recuerda su usuario o contraseña?</a>
            </p>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </body>
</ng-template>
