<!-- modal -->
<ng-template #content let-modal class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="!categoria.id else elseBlockEdit">Crear Categoría</h4>
        <ng-template #elseBlockEdit>
          <h4 class="modal-title">Editar Categoría</h4>
        </ng-template>
        <button type="button" class="close" aria-label="Close" (click)="cerrar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" #categoriaForm="ngForm">
          <div class="card-body">
            <div class="form-group">
              <label for="inputNombre">Nombre Categoría</label>
              <input type="nombre" class="form-control" [(ngModel)]="categoria.nombre" name="nombre" #nombre="ngModel"
                placeholder="Nombre">
            </div>
            <div class="form-group">
              <label for="inputAforo">Aforo</label>
              <input type="number" class="form-control" [(ngModel)]="categoria.aforo" name="aforo" placeholder="A foro">
            </div>
            <div class="form-group">
              <label for="inputPrecio">Precio</label>
              <input type="number" class="form-control" [(ngModel)]="categoria.precio" name="precio"
                placeholder="Precio">
            </div>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" (click)="cerrar()">Cerrar</button>
        <button role="button" (click)='crear()' *ngIf="!categoria.id else elseBlock"
          class="btn btn-primary">Guardar</button>

        <ng-template #elseBlock>
          <button role="button" (click)='update()' class="btn btn-primary">Editar</button>
        </ng-template>
      </div>
    </div>
</ng-template>
<!-- /.modal -->

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Configuración de Categorías</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row" id="actualizar">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Categorías
              <a class="btn btn-success btn-sm" (click)="open(content, 0)" [routerLink]="">
                <i class="fas fa-plus-circle"></i>
                Añadir
              </a>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nombre</th>
                  <th>Aforo</th>
                  <th>Precio</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let categoria of categorias; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{categoria.nombre}}</td>
                  <td>{{categoria.aforo}}</td>
                  <td>{{categoria.precio}}</td>
                  <td class="project-actions text-right">
                    <a class="btn btn-info btn-sm" (click)="open(content, categoria.id)" [routerLink]="">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" (click)='eliminar(categoria)' [routerLink]="">
                      <i class="fas fa-trash-alt">
                      </i>
                      Eliminar
                    </a>
                  </td>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
