<!-- modal -->
<ng-template #content let-modal class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Cambiar el estado de una habitación</h4>
      <button type="button" class="close" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-block btn-warning btn-lg" (click)="cambiarEstado(2)" *ngIf="estadoHabitacion.estado!=2">Mantenimiento</button>
      <button type="button" class="btn btn-block btn-success btn-lg" (click)="cambiarEstado(1)" *ngIf="estadoHabitacion.estado!=1">Disponible</button>
      <button type="button" class="btn btn-block btn-info btn-lg" (click)="cambiarEstado(3)" *ngIf="estadoHabitacion.estado!=3">Limpieza</button>
      <br>
      <button type="button" class="btn btn-block btn-outline-primary btn-sm  float-right"><i class="fas fa-address-book"></i> Nueva reserva</button>
    </div>
  </div>
</ng-template>
<!-- /.modal -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Vista General Recepción</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <!-- Default box -->

        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Recepción</h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                title="Collapse">
                <i class="fas fa-minus"></i></button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i></button>
            </div>
          </div>

          <div class="card-body">
            <div class="row">
              <div class="col-lg-3 col-3" *ngFor="let habitacion of habitaciones; let e = index;">
                <!-- small card -->
                <div>
                  <div class="small-box bg-success" *ngIf="habitacion.estado==1">
                    <div class="inner">
                      <h3>{{habitacion.puerta}}</h3>
                      <p>{{habitacion.categoria.nombre}}</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-bed"></i>
                    </div>
                    <a (click)="open(content, habitacion)" class="small-box-footer">
                      Disponible <i class="fas fa-arrow-circle-right"></i>
                    </a>
                  </div>
                  <div class="small-box bg-warning" *ngIf="habitacion.estado==2">
                    <div class="inner">
                      <h3>{{habitacion.puerta}}</h3>
                      <p>{{habitacion.categoria.nombre}}</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-bed"></i>
                    </div>
                    <a (click)="open(content, habitacion)" [routerLink]="" class="small-box-footer">
                      Mantenimiento <i class="fas fa-arrow-circle-right"></i>
                    </a>
                  </div>
                  <div class="small-box bg-info" *ngIf="habitacion.estado==3">
                    <div class="inner">
                      <h3>{{habitacion.puerta}}</h3>
                      <p>{{habitacion.categoria.nombre}}</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-bed"></i>
                    </div>
                    <a (click)="open(content, habitacion)" class="small-box-footer">
                      Limpieza <i class="fas fa-arrow-circle-right"></i>
                    </a>
                  </div>
                  <div class="small-box bg-danger" *ngIf="habitacion.estado==4">
                    <div class="inner">
                      <h3>{{habitacion.puerta}}</h3>
                      <p>{{habitacion.categoria.nombre}}</p>
                    </div>
                    <div class="icon">
                      <i class="fas fa-bed"></i>
                    </div>
                    <a class="small-box-footer">
                      Ocupado
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
