<ng-template #content let-modal class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="!usuario.id else elseBlockEdit">Crear Usuario</h4>
      <ng-template #elseBlockEdit>
        <h4 class="modal-title">Editar Usuario</h4>
      </ng-template>
      <button type="button" class="close" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" #categoriaForm="ngForm">

        <div class="card-body">
          <div class="form-group">
            <label for="inputNombreUsuario">Nombre de Usuario</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nombreUsuario" name="nombreUsuario"
              #nombre="ngModel" placeholder="Nombre usuario">
          </div>
          <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre"
              #nombre="ngModel" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" [(ngModel)]="usuario.email" name="email"
              #nombre="ngModel" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password"
              #nombre="ngModel" placeholder="contraseña">
          </div>
         <div class="form-group">
            <label for="pisos">Estado</label>
            <select class="form-control" [(ngModel)]="usuario.roles" name="estado">
              <option [ngValue]="undefined">Selecionar Rol</option>
              <option *ngFor="let rol of estados" [ngValue]="rol.jq">{{rol.nombre}}</option>
            </select>
          </div>
        </div>
        <!-- /.card-body -->
      </form>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" (click)="cerrar()">Cerrar</button>
      <button role="button" (click)='crear()' *ngIf="!usuario.id else elseBlock"
        class="btn btn-primary">Guardar</button>

      <ng-template #elseBlock>
        <button role="button" (click)='update()' class="btn btn-primary">Editar</button>
      </ng-template>
    </div>
  </div>
</ng-template>
<!-- /.modal -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Configuración de Usuarios</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row" id="actualizar">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Usuarios

              <a class="btn btn-success btn-sm" (click)="open(content, 0)" [routerLink]="">
                <i class="fas fa-plus-circle"></i>
                Añadir
              </a>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Username</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Rol</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of usuarios; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{usuario.nombreUsuario}}</td>
                  <td>{{usuario.nombre}}</td>
                  <td>{{usuario.email}}</td>
                  <td *ngIf="usuario.roles.length == 2"><span class="badge badge-success">Gerente</span></td>
                  <td *ngIf="usuario.roles.length == 1"><span class="badge badge-info">Recepcionista</span></td>

<!--
                  <td *ngIf="usuario.estado == 2"><span class="badge badge-warning">Mantenimiento</span></td>
                  <td *ngIf="usuario.estado == 3"><span class="badge badge-info">Limpieza</span></td>
                  <td *ngIf="usuario.estado == 4"><span class="badge badge-danger">Ocupado</span></td> -->
                  <td class="project-actions text-right">
                    <a class="btn btn-info btn-sm" (click)="open(content, usuario.id)" [routerLink]="">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" (click)='eliminar(usuario)' [routerLink]="">
                      <i class="fas fa-trash-alt">
                      </i>
                      Eliminar
                    </a>
                  </td>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
