<!-- modal -->
<ng-template #content let-modal class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="!piso.id else elseBlockEdit">Crear Piso</h4>
      <ng-template #elseBlockEdit>
        <h4 class="modal-title">Editar Piso</h4>
      </ng-template>
      <button type="button" class="close" aria-label="Close" (click)="cerrar()" >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" #pisoForm="ngForm">
        <div class="card-body">
          <div class="form-group">
            <label for="inputNombre">Nombre Piso</label>
            <input type="nombre" class="form-control" [(ngModel)]="piso.nombre" name="nombre" #nombre="ngModel"
              placeholder="Nombre">
          </div>
        </div>
        <!-- /.card-body -->
      </form>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" (click)="cerrar()">Cerrar</button>
      <button role="button" (click)='crear()' *ngIf="!piso.id else elseBlock"
        class="btn btn-primary">Guardar</button>

      <ng-template #elseBlock>
        <button role="button" (click)='update()' class="btn btn-primary">Editar</button>
      </ng-template>
    </div>
  </div>
</ng-template>
<!-- /.modal -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Configuración de Pisos</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Pisos
              <a class="btn btn-success btn-sm" (click)="open(content, 0)" [routerLink]="">
                <i class="fas fa-plus-circle"></i>
                Añadir
              </a>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Nombre</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let piso of pisos; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{piso.nombre}}</td>
                  <td class="project-actions text-right">
                    <a class="btn btn-info btn-sm" (click)="open(content, piso.id)" [routerLink]="">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" (click)='eliminar(piso)' [routerLink]="">
                      <i class="fas fa-trash-alt">
                      </i>
                      Eliminar
                    </a>
                  </td>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- /.card -->


        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
