<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Procesar reserva</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="callout callout-info">
          <h5><i class="fas fa-bed"></i> Datos de la habitación</h5>
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              <b>Puerta:</b> {{reserva.habitacion.puerta}}<br>
              <b>Pisos:</b> {{reserva.habitacion.piso.nombre}}<br>
              <b>Categoría:</b> {{reserva.habitacion.categoria.nombre}}<br>
              <br>
            </div>
            <div class="col-sm-4 invoice-col">
              <br>
              <b>Detalles:</b> {{reserva.habitacion.detalles}}<br>
              <p *ngIf="reserva.habitacion.estado == 1"><b>Estado:</b><span class="badge badge-success">Disponible</span><br></p>
              <p *ngIf="reserva.habitacion.estado == 2"><b>Estado:</b><span class="badge badge-warning">Mantenimiento</span><br></p>
              <p *ngIf="reserva.habitacion.estado == 3"><b>Estado:</b><span class="badge badge-info">Limpieza</span><br></p>
              <p *ngIf="reserva.habitacion.estado == 4"><b>Estado:</b><span class="badge badge-danger">Ocupado</span><br></p>
              <br>
            </div>
          </div>
        </div>


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-user"></i> Datos del cliente
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-8 invoice-col">
              <form role="form" #clienteForm="ngForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputDni">DNI Cliente</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.dni" name="dni"
                      #nombre="ngModel" maxlength="9" placeholder="DNI">
                  </div>
                  <div class="form-group">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.nombre" name="nombre"
                      placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <label for="inputTelefono">Teléfono</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.telefono" name="telefono"
                      placeholder="Telefono">
                  </div>
                  <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.email" name="email"
                      placeholder="Email">
                  </div>
                  <div class="form-group">
                  </div>
                </div>
                <!-- /.card-body -->
              </form>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Fecha de reserva</b><br>
              <br>
              <b>Fecha de entrada:</b> {{fechaInicio(reserva.fecha_inicio)}}<br>
              <b>Fecha de salida:</b> {{fechaFin(reserva.fecha_final)}}<br>
              <br>
              <br>
              <address>
                <strong>Precio</strong><br>
                Precio por habitación: {{reserva.habitacion.categoria.precio}}<br>
                Precio total: {{calculoPrecioTotal()}}<br>
              </address>
            </div>
            <!-- /.col -->
          </div>

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <button type="button" class="btn btn-success float-right" (click)="confiramrReserva()"><i class="far fa-address-card"></i> Confirmar Reserva
              </button>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
