<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Perfil Cliente</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">

            <h3 class="profile-username text-center">{{cliente.nombre}}</h3>

            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>NIF</b> <a class="float-right">{{cliente.dni}}</a>
              </li>
              <li class="list-group-item">
                <b>Teléfon</b> <a class="float-right">{{cliente.telefono}}</a>
              </li>
              <li class="list-group-item">
                <b>Email</b> <a class="float-right">{{cliente.email}}</a>
              </li>
            </ul>

            <a href="#" class="btn btn-primary btn-block"><b>Crear reserva</b></a>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#todasReservas" data-toggle="tab">Reservas</a></li>
              <li class="nav-item"><a class="nav-link" href="#productosAdquiridos" data-toggle="tab">Productos
                  comprados</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="todasReservas">
                <!-- Post -->
                <div class="post">
                  <div class="user-block">
                    <div class="row">
                      <div class="col-12">
                        <div class="card">
                          <div class="card-header">
                            <h3 class="card-title">Todas las reservas del cliente</h3>

                            <div class="card-tools">
                              <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                  placeholder="Buscar reserva">

                                <div class="input-group-append">
                                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                              <thead>
                                <tr>
                                  <th>Id reserva</th>
                                  <th>Habitación</th>
                                  <th>Fecha entrada</th>
                                  <th>Fecha salida</th>
                                  <th>Acción</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let reserva of reservasCliente">
                                  <td>{{reserva.id}}</td>
                                  <td>{{reserva.habitacion.puerta}}</td>
                                  <td>{{reserva.fecha_inicio}}</td>
                                  <td>{{reserva.fecha_final}}</td>
                                  <td>
                                    <a class="btn btn-info btn-sm" [routerLink]="">
                                      <i class="far fa-eye"></i>
                                      Más información
                                    </a>
                                  </td>

                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                    </div>
                  </div>
                  <!-- /.post -->
                </div>
              </div>
              <div class="tab-pane" id="productosAdquiridos">
                <div class="post">

                  <!-- /.post -->
                </div>
              </div>
            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
    </div>
  </div>
</section>
