<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>DataTables</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Todas las reservas</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar">

                <div class="input-group-append">
                  <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                  <th>ID reserva</th>
                  <th>Cliente</th>
                  <th>Habitación</th>
                  <th>Categoría</th>
                  <th>Fecha entrada</th>
                  <th>Fecha salida</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let reserva of reservas; let e = index;">
                  <td>{{reserva.id}}</td>
                  <td>{{reserva.cliente.nombre}}</td>
                  <td>{{reserva.habitacion.puerta}}</td>
                  <td>{{reserva.habitacion.categoria.nombre}}</td>
                  <td>{{reserva.fecha_inicio}}</td>
                  <td>{{reserva.fecha_final}}</td>
                  <td *ngIf="reserva.estado == 0"><span class="badge badge-success">Reservada</span></td>
                  <td *ngIf="reserva.estado == 1"><span class="badge badge-warning">Ocupada</span></td>
                  <td *ngIf="reserva.estado == 2"><span class="badge badge-info">Reserva Archivada</span></td>
                </tr>

              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
