<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Procesar reserva</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="callout callout-info">
          <h5><i class="fas fa-bed"></i> Datos de la habitación</h5>
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              <b>Puerta:</b> {{reserva.habitacion.puerta}}<br>
              <b>Pisos:</b> {{reserva.habitacion.piso.nombre}}<br>
              <b>Categoría:</b> {{reserva.habitacion.categoria.nombre}}<br>
              <br>
            </div>
            <div class="col-sm-4 invoice-col">
              <br>
              <b>Detalles:</b> {{reserva.habitacion.detalles}}<br>
              <p *ngIf="reserva.habitacion.estado == 1"><b>Estado:</b><span class="badge badge-success">Disponible</span><br></p>
              <p *ngIf="reserva.habitacion.estado == 2"><b>Estado:</b><span class="badge badge-warning">Mantenimiento</span><br></p>
              <p *ngIf="reserva.habitacion.estado == 3"><b>Estado:</b><span class="badge badge-info">Limpieza</span><br></p>
              <p *ngIf="reserva.habitacion.estado == 4"><b>Estado:</b><span class="badge badge-danger">Ocupado</span><br></p>
              <br>
            </div>
          </div>
        </div>


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-user"></i> Datos del cliente
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-8 invoice-col">
              <form role="form" #clienteForm="ngForm">
                <div class="card-body">
                  <div class="form-group">
                    <label for="inputDni">DNI Cliente</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.dni" name="dni"
                      #nombre="ngModel" maxlength="9" placeholder="DNI">
                  </div>
                  <div class="form-group">
                    <label for="inputNombre">Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.nombre" name="nombre"
                      placeholder="Nombre">
                  </div>
                  <div class="form-group">
                    <label for="inputTelefono">Telefono</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.telefono" name="telefono"
                      placeholder="Telefono">
                  </div>
                  <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="reserva.cliente.email" name="email"
                      placeholder="Email">
                  </div>
                  <div class="form-group">
                  </div>
                </div>
                <!-- /.card-body -->
              </form>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Fecha de reserva</b><br>
              <br>
              <b>Fecha de entrada:</b> {{fechaInicio(reserva.fecha_inicio)}}<br>
              <b>Fecha de salida:</b> {{fechaFin(reserva.fecha_final)}}<br>
              <br>
              <br>
              <address>
                <strong>Precio</strong><br>
                Precio por habitación: {{reserva.habitacion.categoria.precio}}<br>
                Precio total: {{calculoPrecioTotal()}}<br>
              </address>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre producto</th>
                    <th>Serial #</th>
                    <th>Description</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>

                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-6">
              <p class="lead">Métodos de pago:</p>
              <img src="../../../assets/credit/visa.png" alt="Visa">
              <img src="../../../assets/credit/mastercard.png" alt="Mastercard">
              <img src="../../../assets/credit/american-express.png" alt="American Express">
              <img src="../../../assets/credit/paypal2.png" alt="Paypal">

              <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
              </p>
            </div>
            <!-- /.col -->
            <div class="col-6">

              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th style="width:50%">Subtotal de productos:</th>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th>Precio total por habitación:</th>
                    <td>{{calculoPrecioTotal()}} €</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td>{{calculoPrecioTotal()}} €</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <a href="#" target="_blank" class="btn btn-default"><i class="fas fa-print"></i>
                Imprimir</a>
              <button type="button" class="btn btn-success float-right"  (click)="cerrarReserva()"><i class="far fa-credit-card"></i> Finalizar Reserva
              </button>
              <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Generar PDF
              </button>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
