<!-- modal -->
<ng-template #content let-modal class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="!cliente.id else elseBlockEdit">Crear Categoría</h4>
      <ng-template #elseBlockEdit>
        <h4 class="modal-title">Editar Cliente</h4>
      </ng-template>
      <button type="button" class="close" aria-label="Close" (click)="cerrar()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form role="form" #clienteForm="ngForm">
        <div class="card-body">
          <div class="form-group">
            <label for="inputDni">DNI Cliente</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.dni" name="dni" #nombre="ngModel" maxlength="9"
              placeholder="DNI">
          </div>
          <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" placeholder="Nombre">
          </div>
          <div class="form-group">
            <label for="inputTelefono">Telefono</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.telefono" name="telefono"
              placeholder="Telefono">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" placeholder="Email">
          </div>
          <div class="form-group">
          </div>
        </div>
        <!-- /.card-body -->
      </form>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" (click)="cerrar()">Cerrar</button>
      <button role="button" (click)="crear()" *ngIf="!cliente.id else elseBlock"
        class="btn btn-primary">Guardar</button>

      <ng-template #elseBlock>
        <button role="button" (click)='update()' class="btn btn-primary">Editar</button>
      </ng-template>
    </div>
  </div>
</ng-template>
<!-- /.modal -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Configuración de Clientes</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Lista de Clientes
              <a class="btn btn-success btn-sm" (click)="open(content, 0)" [routerLink]="">
                <i class="fas fa-plus-circle"></i>
                Añadir
              </a>
            </h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-striped projects">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>DNI</th>
                  <th>Nombre</th>
                  <th>Teléfono</th>
                  <th>Email</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cliente of clientes; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{cliente.dni}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.email}}</td>
                  <td>{{cliente.telefono}}</td>
                  <td class="project-actions text-right">
                    <a class="btn btn-primary btn-sm" [routerLink]="['/pages/clientes/perfil', cliente.id]">
                      <i class="far fa-eye"></i>
                      Ver
                    </a>
                    <a class="btn btn-info btn-sm" (click)="open(content, cliente.id)" [routerLink]="">
                      <i class="fas fa-pencil-alt">
                      </i>
                      Editar
                    </a>
                    <a class="btn btn-danger btn-sm" (click)='eliminar(cliente)' [routerLink]="">
                      <i class="fas fa-trash-alt">
                      </i>
                      Eliminar
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul>
          </div>
        </div>
        <!-- /.card -->


        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
