<div *ngIf="isLogged; else loggedOut">
  <!-- Navbar -->
  <nav class=" main-header navbar navbar-expand navbar-dark navbar-info">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Buscar Cliente" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">

        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">1</span>
        </a>

        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">1 Notifications</span>
          <div class="dropdown-divider"></div>

          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> Nueva reserva
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>

          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">Ver todas las reservavs</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
            class="fas fa-th-large"></i></a>
      </li>
      <li class="nav-item" *ngIf="isLogged" (click)="onLogOut()">
        <a class="nav-link" style="cursor: pointer;"><i class="fas fa-door-open"></i> Cerrar Sesión</a>
      </li>

    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar elevation-4 sidebar-dark-info">
    <!-- Brand Logo -->
    <a routerLink="/pages/recepcion" class="brand-link" routerLinkActive="active">
        <img src="../../../assets/mageHotelLogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: .8">
   <span class="brand-text font-weight-light">MageHotel Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image" *ngIf="isAdmin;else elseBlockimg">
          <img src="../../../assets/user8-128x128.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <ng-template #elseBlockimg>
          <div class="image">
            <img src="../../../assets/user1-128x128.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
        </ng-template>
        <div class="info">
          <a href="#" class="d-block">{{rolUsuario}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item" *ngIf="isAdmin">
            <a routerLink="/pages/escritorio" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-chart-line"></i>
              <p>
                Escritorio
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/calendario" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-calendar-alt"></i>
              <p>
                Calendario
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/recepcion" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-cogs"></i>
              <p>
                Recepción
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/checkin" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-sign-in-alt"></i>
              <p>
                Check-In
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/checkout" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-share-square"></i>
              <p>
                Check-Out
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview ">
            <a routerLink="/pages/puntoventa" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-shopping-cart"></i>
              <p>
                Punto Venta
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/pages/puntoventa/venta" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Venta
                  </p>
                </a>
              </li>
            </ul>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/pages/puntoventa/inventario" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Inventario
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="/pages/clientes" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Clientes
              </p>
            </a>
          </li>
          <li class="nav-item has-treeview ">
            <a routerLink="/pages/reportes" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-chart-bar"></i>
              <p>
                Reportes
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/pages/reportes/reporte-reservas" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte Reservas
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/pages/reportes/reporte-ventas" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Reporte Ventas
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview" *ngIf="isAdmin">
            <a routerLink="/pages/configuracion" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Configuración
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/pages/configuracion/habitaciones" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Habitaciónes</p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/pages/configuracion/categorias" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Categorías</p>
                </a>
              </li>

              <li class="nav-item">
                <a routerLink="/pages/configuracion/nivel-habitaciones" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Nivel Habitacion</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item has-treeview" *ngIf="isAdmin">
            <a routerLink="/pages/administracion" class="nav-link" routerLinkActive="active">
              <i class="nav-icon fas fa-cog"></i>
              <p>
                Administración
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/pages/administracion/usuarios" class="nav-link" routerLinkActive="active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Usuarios
                  </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <router-outlet></router-outlet>
    <!-- /.content-header -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a href="http://magehotel.com">MageHotel.com</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
  <!-- Control Sidebar -->
</div>


<ng-template #loggedOut>
  <app-login></app-login>
</ng-template>
